{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stinkin' Lincoln</title>

<!-- Style Sheets -->
    <link href={% static "css/stinkinlincoln.css" %} rel="stylesheet">
    <link href={% static "css/flexboxgrid.min.css" %} rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/>

<!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

<!-- Scripts -->
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>
  <script src='{% static "KML.js" %}'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<div class="container-fluid">

<!-- Header -->

<div class="row">
	<div class="col-xs-8 title">
		<img src={% static "images/stinkinlincolnlogo.png" %} alt="Stinkin' Lincoln logo" width="400" height="73">
		<p class="slogan">Downtown Lincoln isn't perfect; we're here to help.</p>
	</div>

	<div class="col-xs-4 socialmedia">
	<a href="https://www.facebook.com/">
		<img class="facebook" src={% static "images/facebookicon.png" %} alt="Facebook Logo" height="27px" width="30px">
	</a>
	<a href="https://www.twitter.com/">
		<img class="twitter" src={% static "images/twittericon.png" %} alt="Twitter Logo" height="27px" width="30px">
	</a>
	<a href="https://www.instagram.com/">
		<img class="instagram" src={% static "images/instagramicon.png" %} alt="Instagram Logo" height="27px" width="30px">
	</a>
	</div>
</div>

<hr class="hrtop">
<!-- Map and Map checklist -->

<div class="row">
	<div class="col-xs-12 mapchecklist">

	<ul>

		<li><input type="checkbox" id="potholeCheck" checked/>
			<label for="cl">Potholes</label></li>

		<li><input type="checkbox" id="constructionCheck" checked/>
			<label for="cl3">Construction</label></li>

	</ul>

	</div>

</div>

<div class="row">
	<div class="col-xs-12">
    <div id="mapid">
    </div>
	</div>
</div>

<!-- Snitch and Bitch Header -->

<div class="row center-xs snitchandbitch">
	<div class="col-xs-4">
		<h1 class="left">Snitch</h1>
		<p class="leftp"><b>Report a problem</b></p>
	</div>

	<p class="ampersand">&</p>

	<div class="col-xs-4">
		<h1 class="right">Bitch</h1>
		<p class="rightp"><b>Contact an official</b></p>
	</div>
</div>

<!-- Snitch and Bitch, Twitter Scroll -->

<div class="row center-xs">


	<div class="col-xs-4 snitch">
		<div class="container-fluid snitchtext">

      <form action="/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
      </form>
		</div>
	</div>



	<div class="col-xs-4 bitch">
		<div class="container-fluid bitchtext">
			<h3>Public Works & Utilities:</h3>
			<p class="PWU">
				Director: Mike Esposito
				Address: 555 S. 10th St. <br>
				Phone: (402) 441-7548</p>
			<h3>Park & Go:</h3>
			<p class="PG">
				Phone: (402) 441-7275
				Address: 850 Q St. <br>
				Website:
				http://parkandgo.org/</p>
			<h3>Senators:</h3>
			<p class="senators">
				<b>Benjamin E. Sasse (R)</b> <br>
				Phone (Lincoln office): <br>
				(402) 476-1400</p>
			<hr>
			<p class="senators">
				<b>Deb Fischer (R)</b> <br>
				Phone (Lincoln office): <br>
				(402) 441-4600 </p>

		</div>
	</div>


</div>

<hr class="hr">
<!-- About Page Content -->

<div class="row">
	<div class="col-xs-8">
		<h1 class="dontbean">Don't be an <span>A.S.S.</span></h1>
<h3><span>A</span>ggravated</h3>
<h3><span>S</span>tressed-out</h3>
<h3>(p)<span>S</span>ychopath</h3>
<p>At Stinkin' Lincoln we believe in safe driving. Anger hinders a driver's ability to make rational decisions, which can put other people at risk. Stinkin' Lincoln provides an informational, safe site for people to prepare for potential road-rage triggers in the downtown area, vent their frustrations and contact the city officials responsible for the downtown Lincoln area.</p>
	</div>

	<div class="col-xs-4">
	<a class="twitter-timeline"  href="https://twitter.com/hashtag/stinkinlincoln" data-widget-id="839970164229746694">#stinkinlincoln Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>

<!-- Footer -->

<div class="row footer">
	<div class="col-xs-8">
		<h2 class="footerslogan">Hate downtown Lincoln but have to go there anyways? Come to Stinkin'Lincoln first.</h2>
	</div>

	<div class="col-xs-4 socialmedia">
	<a href="https://www.facebook.com/">
		<img class="facebook" src={% static "images/facebookicon.png" %} alt="Facebook Logo" height="27px" width="30px">
	</a>
	<a href="https://www.twitter.com/">
		<img class="twitter" src={% static "images/twittericon.png" %} alt="Twitter Logo" height="27px" width="30px">
	</a>
	<a href="https://www.instagram.com/">
		<img class="instagram" src={% static "images/instagramicon.png" %} alt="Instagram Logo" height="27px" width="30px">
	</a>

	<p class="copyright">Stinkin'Lincoln &copy; 2017</p>
	</div>

</div>

</div>

</body>

<script type='text/javascript'>
  var map = new L.map('mapid').setView([40.8258, -96.6852], 13);
  var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
  var osm = new L.TileLayer(osmUrl, {minZoom: 8, attribution: osmAttrib});
  var kmlLayer = new L.KML('{% static "street-closures.kml" %}', {async: true});
  map.addLayer(osm);
  map.addLayer(kmlLayer);
  var array = new Array();
  {% for pothole in potholes %}
    var marker = L.marker([{{ pothole.latitude }}, {{ pothole.longitude }}]);
    marker.bindPopup("<h2>{{ pothole.location }}</h2><p><i>Reported {{ pothole.report_date }}</i></p><p>Status: {{ pothole.status }}</p>");
    array.push(marker);
    map.addLayer(marker);
  {% endfor %}
  $("#potholeCheck").change(function() {
    if(this.checked){
      for (i=0;i<array.length;i++){
        map.addLayer(array[i]);
      }
    } else {
      for (i=0;i<array.length;i++){
        map.removeLayer(array[i]);
      }
    }
  });
  $("#constructionCheck").change(function() {
    if(this.checked){
        map.addLayer(kmlLayer);
    } else {
        map.removeLayer(kmlLayer);
    }
  });
</script>
</html>
